
.container {
	background-color: #000000;
	width: 1040px;
  height: 100%;
  clear: both;
  overflow: hidden;
}

.logo {
  padding-top: 20px;
  padding-left: 75px;
}

iframe {
 padding-top: 50px;
  padding-left: 75px;
}

.footer {
  clear: both;
  overflow: hidden;
  padding-top: 100px;
  margin-left: 470px;
}
.contact-info {
  border-left: 1px solid #fff;
  height: 75px;
  float: left;

}

#brett {
  display: block;
  padding-top: 20px;
  padding-left: 20px;
}

#brett:hover {
  opacity: .5;
}

#film {
  display: block;
  padding-top: 10px;
  padding-left: 20px;
}

#film:hover {
  opacity: .5;
}

.mountain-small {
   float: left;
   padding-top: 20px;
   padding-right: 10px;
}

